@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger {
  cursor: pointer;
  width: 48px;
  height: 24px;
  transition: all 0.25s ease-in-out;
}

.open {
  transform: translateY(5px) rotate(-180deg);
}

@layer base {
  body {
    @apply text-body;
  }

  @screen lg { // applying font size for lg breakpoint
    body {
      @apply text-body-lg;
    }
  }
}